<html xmlns:th="http://www.thymeleaf.org">

<p>Based on your activity on our platform, we thought you might be interested in working on one of the following requests:</p>

<table>
  <tr th:each="request : ${requests}">
    <td th:text="${request.issueInformation.title}"></td>
    <td th:if="${request.funds.fndFunds != null}" th:text="${request.funds.fndFunds.totalAmount + ' ' + request.funds.fndFunds.tokenSymbol}"></td>
    <td th:if="${request.funds.otherFunds != null}" th:text="${request.funds.otherFunds.totalAmount + ' ' + request.funds.otherFunds.tokenSymbol}"></td>
    <td th:text="${'$ ' + request.funds.usdFunds}"></td>
  </tr>
</table>

<p>Kind regards,</p>
<p>The FundRequest team</p>

</html>
